<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0 20px;
    overflow: hidden;
    background-color: chartreuse;
  "
>
  <div
    style="display: flex; flex-wrap: wrap; justify-content: center; gap: 5px"
  >
    <div *ngFor="let character of characters">
      <div (click)="setCharacter(character)">
        <img src="./../../../assets/diplomata.png" style="height: 130px" />
      </div>
    </div>
  </div>
</div>
<app-sidebar [isOpen]="isSideBarOpened">
  <div>
    <div
      [ngStyle]="{ top: isSideBarOpened ? '-85px' : 0 }"
      class="character-title-container"
    >
      <img
        class="arrows"
        src="./../../../assets/arrow.png"
        (click)="changeCharacter(false)"
      />
      <div class="character-img">
        <img src="../../../assets/characther-frame.png" alt="" />
        <div style="display: flex">
          <img
            class="character-title-text-border"
            src="../../../assets/Title-BG-border.png"
          />
          <div class="character-title-text">
            <label class="inverse-color-text">{{
              selectedCharacter.className
            }}</label>
          </div>
          <img
            class="character-title-text-border"
            src="../../../assets/Title-BG-border.png"
          />
        </div>
      </div>
      <img
        class="arrows"
        src="./../../../assets/arrow.png"
        style="transform: scaleX(-1)"
        (click)="changeCharacter(true)"
      />
    </div>
    <div class="character-desc-card-container">
      <div
        style="
          display: flex;
          overflow-x: hidden;
          overflow-y: scroll;
          min-width: 100vw;
          flex-wrap: nowrap;
          margin-top: 140px;
        "
      >
        <div
          [ngStyle]="{
            transform: 'translate(-' + selectedCharacter.id * 100 + 'vw)'
          }"
          *ngFor="let char of characters"
          class="character-desc-card"
        >
          <label class="character-status-title">Status</label>

          <div class="character-status">
            <app-status-circle
              [statusValue]="selectedCharacter.money"
              [statusName]="'Dinheiro'"
            ></app-status-circle>
            <app-status-circle
              [statusValue]="selectedCharacter.life"
              [statusName]="'Vida'"
            ></app-status-circle>
            <app-status-circle
              [statusValue]="selectedCharacter.perception"
              [statusName]="'Percepçao'"
            ></app-status-circle>
          </div>
          <div class="character-status">
            <app-status-circle
              [statusValue]="selectedCharacter.criativity"
              [statusName]="'Criatividade'"
            ></app-status-circle>
            <app-status-circle
              [statusValue]="selectedCharacter.strength"
              [statusName]="'Força'"
            ></app-status-circle>
            <app-status-circle
              [statusValue]="selectedCharacter.mechanicalInt"
              [statusName]="'Int. Mecanica'"
            ></app-status-circle>
          </div>

          <label for="" style="text-align: center; font-size: 1.5em"
            >Historia</label
          >

          <label
            for=""
            style="margin: 0 25px; font-size: 1em; line-height: 1.5"
            >{{ selectedCharacter.history }}</label
          >

          <div></div>
          <label for="" style="text-align: center; font-size: 1.5em"
            >Items Iniciais</label
          >

          <div style="padding: 0 25px 100px 25px">
            <ul>
              <li>
                <i class="mdi mdi-arrow-right-bold-hexagon-outline"></i>Cartao
                de Acesso
              </li>
              <li>
                <i class="mdi mdi-arrow-right-bold-hexagon-outline"></i>Conhece
                pessoas dentro da Capital
              </li>
            </ul>
          </div>
        </div>
        <img
          style="position: absolute; bottom: 30px; left: 20px"
          src="../../../assets/Button-cancel.png"
          (click)="cancelSelection()"
        />
        <img
          style="position: absolute; bottom: 30px; right: 20px"
          src="../../../assets/Button-confirm.png"
          (click)="setCharacterName()"
        />
      </div>
    </div>
  </div>
</app-sidebar>
