h1 {
  font-size: 0.8rem;
  text-align: center;
  margin: 10px 0;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  width: 80px;
  font-size: 35px;

  background-image: url(../../../assets/status-circle.png);
  background-size: cover;
}
