.sidebar-card {
  position: fixed;

  height: 85vh;
  width: 100%;

  overflow: scroll;

  // padding-top: 25px;

  background-color: gold;
  transition: all 0.8s;

  bottom: 0;

  div {
    padding-top: 25px;
  }

}
